* {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.task {
    border: black 1px solid;
}

.task-title {
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100vw;
    background-color: cornflowerblue;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding-top: 45px;
    transform: translateX(-200px);
    background-color: cornflowerblue;
}

.sidebar.show {
    transform: translateX(0px);
    transition: transform 250ms ease-in-out;
}

.sidebar.hide {
    transform: translateX(-200px);
    transition: transform 250ms ease-in-out;
}

.sidebar-item {
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    height: 30px;
    padding: 5px;
    font-size: 20px;
}

.sidebar-item:hover {
    filter: brightness(1.2);
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
}

.hamburger {
    height: 30px;
    width: 30px;
    z-index: 2;
}

.tasky {
    font-size: 25px;
    z-index: 2;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
}

.plus {
    height: 30px;
    width: 30px;
}

.help {
    height: 24px;
    width: 24px;
}