* {
    padding: 0;
    margin: 0;
}

body, #root, .app, .main-elements {
    height: 100vh;
    --main-background-color: #92A8D1;
    --content-background-color: #fbfbfb;
    --main-font: 'Merriweather', serif;
    --secondary-font: 'Open Sans', sans-serif;

}

.main-elements {
    background-color: var(--content-background-color);
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: 200px 1fr;
}

.header {
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    font-family: var(--main-font);
    background-color: var(--main-background-color);
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
}

.hamburger {
    height: 30px;
    width: 30px;
    z-index: 2;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--main-background-color);
}

.hamburger:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.tasky {
    font-size: 25px;
    z-index: 2;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
}

.plus {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--main-background-color);
}

.plus:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.help {
    height: 24px;
    width: 24px;
    padding: 3px;
    border-radius: 5px;
    background-color: var(--main-background-color);
}

.help:hover {
    filter:brightness(1.2);
    cursor: pointer;
}

.task-container {
    margin-top: 50px;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    justify-items: center;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.task-group-title-bar {
    display: flex;
    position: relative;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 22px;
    width: 70%;
    align-items: center;
}

.sortingButtonLabel {
    position: absolute;
    right: 0px;
    margin-left: auto;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 5px;
    align-items: center;
}

.sortingButton {
    width: 20px;
}

.taskSorter {
    display: none;
    position: absolute;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #fbfbfb;
    top: 37px;
    right: -50px;
    border: 1px black solid;
}

.sorter-option {
    padding: 5px;
}

.sorter-option:hover,
.sorter-option:checked {
    background-color: #EEEEEE;
}
/* select, option {
    overflow: hidden;
    appearance: none;
    font-family: var(--secondary-font);
    color: #333;
    background-color: #fbfbfb;
} */


.tasks {
    height: 80%;
    width: 70%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;  
}

.task {
    display: flex;
    height: 50px;
    border-bottom: 1px #D3D3D3 solid;
}

.task:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.task-left {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-family: var(--secondary-font);
    font-size: 20px;
}

.task-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.task-group {
    margin-right: 16px;
}

.task-button {
    width: 20px;
    margin-right: 3px;
}

.task-button:hover{
    width: 21px;
    transition: width 100ms;
}

.task-form-container {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    font-family: var(--secondary-font); 
}

.task-form {
    position: relative;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 300px;
}

.form-input {
    position: relative;
    top: 10px;
    left: 10px;
    box-sizing: border-box;
    width: 450px;
    font-size: 16px;
    appearance: none;
    border: none;
    resize: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.form-description {
    height: 150px;
}

.task-date-container {
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.form-date-selector {
    box-sizing: border-box;
    appearance: none;
    border: 1px blue solid;
    height: 25px;
    width: 115px;
    margin-left: 20px;
    border-radius: 6px;
    padding: 3px;
    font-family: inherit;
}

.form-time-selector {
    position: absolute;
    bottom: 40px;
    left: 104px;
    box-sizing: border-box;
    appearance: none;
    border: 1px blue solid;
    height: 25px;
    width: 115px;
    border-radius: 6px;
    padding: 3px;
    font-family: inherit;
}

.form-task-group-container { 
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: inherit;
}

#form-task-groups-choice {
    appearance: none;
    box-sizing: border-box;
    border: 1px blue solid;
    padding: 3px;
    margin-left: 5px;
    border-radius: 6px;
    width: 115px;
    height: 23px;
    font-family: inherit;
}

.submit-button {
    position: absolute;
    width: 50px;
    right: 5px;
    bottom: 5px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding-top: 45px;
    transform: translateX(-200px);
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    font-weight: 400;
}

.sidebar.show {
    transform: translateX(0px);
    transition: transform 250ms ease-in-out;
}

.sidebar.hide {
    transform: translateX(-200px);
    transition: transform 250ms ease-in-out;
}

.sidebar-item {
    display: flex;
    align-items: center;
    background-color: var(--main-background-color);
    height: 40px;
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 20px;
}

.sidebar-item:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

